/*Sets the default font style for the application.*/
/*
{
    -fx-font-family: "Franklin Gothic Book";
    -fx-text-fill: rgb(30,30,30);
}
*/

/*---Fonts---*/
/*
.titleText {
    -fx-font-size: 33px;
}

.bodyText {
    -fx-font-size: 15px;
}
*/
